<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forgot password</title>
</head>
<body bgcolor="#B5EAAA">
    <center>
        <font color="blue" size="25"><b><i>forgot password</i></b></font><br><br>
        <form action="/forgotpasswordsuccess" method="post">
            <input type="text" name="femail" placeholder="email id" required autofocus style="font-size: 13pt; height: 40px; width:500px; "><br><br>
            <input type="text" name="fphoneno" placeholder="phone number" required autofocus style="font-size: 13pt; height: 40px; width:500px; "><br><br>
            <input type="password" name="fpassword" placeholder="set a new password" required autofocus style="font-size: 13pt; height: 40px; width:500px; "><br><br>
            <input type="password" name="frpassword" placeholder="re-enter password" required autofocus style="font-size: 13pt; height: 40px; width:500px; "><br><br>
            <input type="submit" value="confirm" style="font-size: 30px; height: 45px; width: 145px">
        </form><br>
        <form action="/forgotback" method="post">
            <input type="submit" value="back" style="font-size: 30px; height: 45px; width: 130px">
        </form>
    </center>

</body>
</html>